/* -----------------------
Site: Personal Homepage
Author: Ryan LaFary
-------------------------- */

/* Global Settings
-------------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: serif;
	background-color: #808080;
}

#wrapper {
	border: 15px;
	background-color: #ccc;
	box-shadow: 5px 5px 15px #000;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

/* Header
-------------------------- */

header {
	font-size: 200%;
	text-align: left;
	font-family: times;
	padding: 15px;
}

header h2 {
	font-size: 15px;
}

/* Main Article
-------------------------- */

figure {
	padding: 15px;
	width: 35%;
	float: right;
}

figure img {
	width: 100%;
	height: auto;
}


/* Biography
-------------------------- */
.bio {
	padding: 15px;
}

/* Examples
-------------------------- */

.section-group {
	background: #c1c1c1;
	padding: 15px 30px;
	border-radius: 2px;
	margin-bottom: 15px;
}

.section-group h2 {
	margin-top: 5px;
}

.examples {
	text-decoration: none;
	margin-left: 15px;
}

.work_old	 {
	text-decoration: none;
	background-color: black;
	padding-left: 20px;
}


/* Resources
-------------------------- */

.resources {
	margin-left: 15px;
	text-decoration: none;
}

/* Footer
-------------------------- */

footer {
	background-color: #8f8f8f;
	clear: both;
	text-align: center;
	font-size: 75%
	color: white;
	padding: 15px;
}

.logo {
	float: right;
}

a[href^="mailto"] {
	background-image: url(icon_mail.gif);
	background-repeat: no-repeat;
	background-position: center left;
}

/* Tools
-------------------------- */